/* Install the big-sur theme https://github.com/davidgolding/obsidian-big-sur-aesthetic into <your vault>/.obsidian/themes
   and put this snippet into <your vault>/.obsidian/snippets.
   In Obisidian's preferences select the big sur theme and the big-sur-notes CSS snippet under the Appearance preferences.

  You may also like to install the SF Pro font from Apple: https://developer.apple.com/fonts/
*/
.theme-dark {
    --background-primary: rgb(30, 30, 30);
    --background-primary-alt: rgb(42, 45, 45);
    --background-secondary: rgb(42, 45, 45);
    --background-secondary-alt: rgb(54, 56, 56);
    --background-modifier-border: rgb(42, 45, 45);
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #197300;
    --background-modifier-error: #3d0000;
    --background-modifier-error-rgb: 61, 0, 0;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --text-accent: #f9ab20;
    --text-accent-hover: #f9ab20;
    --text-code: #d48e13;
    --text-normal: rgb(241, 244, 244);
    --text-muted: rgb(230, 230, 230);
    --text-faint: rgb(126, 127, 127);
    --text-error: #ff3333;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(23, 48, 77, 0.99);
    --text-on-accent: #dcddde;
    --interactive-normal: #2a2a2a;
    --interactive-hover: #303030;
    --interactive-accent: #f9ab20;
    --interactive-accent-rgb: rgb(153, 54, 54);
    --interactive-accent-hover: #a63c3c;
    --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --btn-bg: rgb(103, 106, 106);
    --btn-content: rgb(230, 233, 233);
    --btn-highlight-bg: rgb(69, 71, 71);
    --btn-highlight-content: rgb(182, 184, 184);
    --divider-border: rgb(0, 0, 0);
    --graph-view-color-line: #404040;
}
.theme-light {
    --background-primary: #ffffff;
    --background-primary-alt: #f5f6f8;
    --background-secondary: #f2f5f2;
    --background-secondary-alt: #d4d4d4;
    --background-accent: #fff;
    --background-modifier-border: #ddd;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: rgb(230, 135, 135);
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #f9ab20;
    --text-accent-hover: #f9ab20;
    --text-code: #d48e13;
    --text-normal: #2e3338;
    --text-muted: #505050;
    --text-faint: #999999;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(204, 230, 255, 0.99);
    --text-on-accent: #f2f2f2;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: #f9ab20;
    --interactive-accent-rgb: rgb(217, 108, 108);
    --interactive-accent-hover: #e67373;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --btn-bg: #ddd;
    --btn-content: #ddd;
    --btn-highlight-bg: #ddd;
    --btn-highlight-content: #666;
    --divider-border: rgb(235, 226, 228);
    --graph-view-color-line: #d4d4d4;
}

html, body {
    font-family: "SF Pro", -apple-system,  sans-serif;
    -webkit-font-smoothing: antialiased;
}

.graph-view.color-line {
    color: var(--graph-view-color-line)
}

.markdown-preview-view code {
    color: var(--text-code);
}

.status-bar:not(:hover) .status-bar-item {
    opacity: 0.5;
}

/* the input checkbox styling thanks to "kepano" from the obsidian forums - https://forum.obsidian.md/t/nicer-checkboxes/2238 */
input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--text-faint);
  padding: 0;
}
input[type=checkbox]:focus{
outline:0;
}
input[type=checkbox]:checked {
  background-color: var(--text-accent-hover);
  border: 1px solid var(--text-accent-hover);
  border-radius: 15px; /* to get a circular checkbox */
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml; utf8, <svg width="12px" height="10px" viewBox="0 0 12 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-4.000000, -6.000000)" fill="%23ffffff"><path d="M8.1043257,14.0367999 L4.52468714,10.5420499 C4.32525014,10.3497722 4.32525014,10.0368095 4.52468714,9.8424863 L5.24777413,9.1439454 C5.44721114,8.95166768 5.77142411,8.95166768 5.97086112,9.1439454 L8.46638057,11.5903727 L14.0291389,6.1442083 C14.2285759,5.95193057 14.5527889,5.95193057 14.7522259,6.1442083 L15.4753129,6.84377194 C15.6747499,7.03604967 15.6747499,7.35003511 15.4753129,7.54129009 L8.82741268,14.0367999 C8.62797568,14.2290777 8.3037627,14.2290777 8.1043257,14.0367999"></path></g></g></svg>');
}
.markdown-preview-view .task-list-item-checkbox { margin-left:-25px; } 
.markdown-preview-view .task-list-item { padding-inline-start:25px; }
/* end checkbox styling */

/* remove strikethrough from done tasks */
.markdown-preview-view ul > li.task-list-item.is-checked {
    text-decoration:none;
    color:var(--text-normal);
  }
  
  .markdown-preview-view ol > li.task-list-item.is-checked {
    text-decoration:none;
    color:var(--text-normal);
  }
  /* end remove strikethrough from done tasks */
